{% extends 'RestaurantMap/base.html' %}
{% load static %}
{% load custome_tag %}
{% block headExtrajs %}
<script src="http://maps.google.com/maps/api/js?key={{api_key}}&language=ja"></script>
<script>
  // Mapのスタイル
  let styleOptions = [
      {
        featureType: "all",
        elementType: "geometry",

        // スタイルを指定
        stylers: [
          // hue:基本色
          { hue: "#00ffff" },

          // lightness:明度 -100~100
          { lightness: 0 },

          // saturation:彩度 -100~100
          { saturation: 40 },

          // gamma: ガンマ補正の量 コントラストを変更する 0.01~10 通常は1.0
          { gamma: 1.5 },

          // invert_lightness:明度の反転 true/false
          { invert_lightness: false },

          // visibility:要素の表示のon/off
          //	on:表示する（デフォルト）
          //	off:表示しない
          //	simplified:ラベルのアウトラインのみ削除
          { visibility: "simplified" },

          // color:地物周辺の色 設定しないほうが良い
          // weight:地物周辺の厚み 0~255 設定しないほうが良い
        ]
      },
      //地図のスタイルを複数指定したい場合は以下に設定
      {
        featureType: "poi",
        elementType: "geometry",
        stylers: [
          { hue: "#ffb400" },
          { lightness: 0 },
          { saturation: 100 },
          { gamma: 1.2 },
          { invert_lightness: false },
          { visibility: "on" },
        ]
      },
      {
        featureType: "transit",
        elementType: "geometry",
        stylers: [
          { hue: "#ffb400" },
          { lightness: 0 },
          { saturation: 100 },
          { gamma: 1.0 },
          { invert_lightness: false },
          { visibility: "on" },
        ]
      },
    ];
    
  /**
   * GoogleMapの描画関数
   * @param latitude 緯度
   * @param longitude 経度
   * @param storeName 店名
   * @param taigetId 描画対象のId
   */
  const renderMap = function(latitude, longitude, storeName, taigetId){
    // Mapの座標
    let MyLatLng = new google.maps.LatLng(latitude, longitude);
    // オプションの設定
    let Options = {
      zoom: 15,      // 地図の縮尺値
      center: MyLatLng,    // 地図の中心座標
      styles: styleOptions, // スタイル設定
      mapTypeId: 'roadmap'   // 地図の種類
    };
    // Mapの描画
    let map = new google.maps.Map(document.getElementById(taigetId), Options);
    // マーカーの設定
    var marker = new google.maps.Marker({
      // マーカ位置
      position: MyLatLng,
      // 地図情報
      map: map,
      //アイコンの一部だけをクリックできるようにしたい場合に設定する。
      shape: {
        // shapeのタイプ指定
        // circle:円形
        // rect:長方形
        // poly:四角形
        type: 'rect',

        // typeに合わせて座標を指定する
        // circle:x,y,radiusと指定 xとyには原点の座標が入る
        // coords: [17,25,10],
        // rect:x1,y1,x2,y2と指定 左上の座標と右下の座標が入る
        coords: [0,0,33,49],
        // poly:左上を基点にして反時計回りに4点の座標を指定する
        // coords: [0,0,0,49,20,49,33,20,20,0],
      },

      // タイトル
      title: storeName,

      // 非表示切り替え（デフォルト:true）
      visible: true,

      // クリックイベントを有効にするか（デフォルト:true）
      clickable: true,

      // ドラッグでアイコンを移動できるか（デフォルト:false）
      draggable: false,
      
      // 不透明度
      opacity: 1,
      
      // マーカが複数ある場合は重なり順を指定
      zIndex: 1,

      // アイコンにアニメーションを設定できる
      // DROP:マーカ位置にアイコンが落ちてきて終了
      // BOUNCE:ポインタがバウンドし続ける
      animation: google.maps.Animation.BOUNCE,
    });
  };
</script>
{% endblock %}

{% block content %}
  <!-- Storeの件数分ループ -->
  {% for store in store_list %}
    <!-- 1店舗あたりの表示領域 -->
    <div class="card mb-3">
      <!-- 店名 -->
      <h2 class="card-header bg-dark text-white mb-12">{{ store.name }}</h2>
      <!-- 全体の大きさ指定 -->
      <div class="card-body mb-12">
        <!-- 列表示 -->
        <div class="row">
          <!-- 店舗情報 -->
          <div class="col-md-6">
            <p>住所：{{ store.address }}</p>
            <p>営業時間：{{ store.open_time }}</p>
            <p>TEL：{{ store.tel }}</p>
            <p>URL：<a href="https://www.hotpepper.jp/str{{ store.hotPepper_id }}" target="_blank">https://www.hotpepper.jp/str{{ store.hotPepper_id }}</a></p>
          </div>
          <!-- Map ※複数件表示するためにIDも動的に設定 -->
          <div class="col-md-6" id="map_{{ store.hotPepper_id }}">
            <!-- 下記の範囲をクリックすることでAPIをたたき、Mapを描画する -->
            <div class="d-flex align-items-center bg-light h-100 text-center" onclick="renderMap('{{ store.latitude }}', '{{ store.longitude }}', '{{ store.name }}', this.parentElement.getAttribute('Id'))">
              <!-- 階層分けて表示しないと、レイアウトが崩れるので注意 -->
              <div class="container-fluid">クリックで地図を表示{{ map_view | get_value_by_key:store.hotPepper_id | safe }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  <!-- ページング -->
  {% include 'RestaurantMap/page.html' %}

{% endblock %}
